---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// overrides

body {
  font-family: "ff-tisa-sans-web-pro", helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  line-height: 1.5em;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "fonts";
@import "base";
@import "header";
@import "footer";

// pages
@import "home";

