<div class="header">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"></a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><a class="page-link" href="#mailing">Mailing</a></li>
        <li><a class="page-link" href="#printing">Printing</a></li>
        <li><a class="page-link" href="#data-services">Data Lists</a></li>
        <li><a class="page-link" href="http://slimans.leapfile.com">Upload Artwork</a></li>
        <li><a class="page-link" href="#contact">Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Office 330-454-9141</a></li>
      </ul>
    </nav>

  </div>
</div>

