<div class="header">
  <div class="container">
    
    <div class="logo">
      <a class="site-title" href="{{ site.baseurl }}/">Slimans Printery</a>  
    </div>

    <div class="nav">
        <ul>
          <li><a class="page-link" href="/upload">Upload Artwork</a></li>
          <li><a class="page-link" href="/printing">Printing</a></li>
          <li><a class="page-link" href="/mailing">Mailing</a></li>
          <li><a class="page-link" href="/data">Data</a></li>
          <li><a class="page-link" href="/data">Contact</a></li>
        </ul>
    </div>

  </div>
</div>
