.header {
  border-bottom: 1px solid #DADADA;
  background: white;
}

.navbar-nav > li > a {
  // header height  ~ 75px with padding
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 16px;
}

