.header {
  border-bottom: 1px solid #DADADA;
  background: white;
}

.navbar-nav > li > a {
  // header height  ~ 75px with padding
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 16px;
}

.navbar-brand {
  background: url(https://exchange.leapfile.com/resource/getResource.go?oid=4028817e2a647c58012a6bf122630004) no-repeat center;
  background-size: 86%;
  height: 65px;
  width: 165px;
  margin-top: 4px;
}

.navbar-right a {
  color: black;
}

