// Home Page

.home-splash {
  padding-top: 80px;
  background: #2F382F;
  text-align: center;

  button {
    font-size: 20px;
    padding: 13px 69px;
  }

  .btn-primary { margin-top: 20px; }
}

// XXX decompose into splash sass file
.splash {
  height: 500px;
  color: white;

  h2 {
    font-size: 20px;
    font-weight: 300;
    color: #B2B8B2;
  }
}

.feature-wrap {
  background: #F0F0F0;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #D1D1D1;

  .feature-icon {
    text-align: center;
  }

  h2 {
    //color: #0B9B0B;
  }
}

article.mailing,
article.data,
article.printing {
  padding-top: 50px;
  padding-bottom: 50px;
}

