// Home Page

.home-splash {
  padding-top: 80px;
  background: #2F382F;
  text-align: center;
  background: url('/images/splash_printing.jpg') no-repeat center;
  background-size: 100% auto;

  button {
    font-size: 20px;
    padding: 13px 69px;
  }

  .btn-primary { margin-top: 52px; }
}

// XXX decompose into splash sass file
.splash {
  height: 500px;
  color: white;

  h1 { font-size: 46px; }

  h2 {
    font-size: 25px;
    font-weight: 300;
    color: #B2B8B2;
  }
}

.feature-wrap {
  background: #E4F6EE;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 1px solid #D1D1D1;

  p {
    color: #888;
  }

  h2 {
    font-size: 32px;
  }

  .icon-news, .icon-mail, .icon-data {
    margin-right: 10px;
  }
}

.services {
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #BEBEBE;

  h3 {
    margin-top: 0;
    font-size: 34px;
    color: #007e47;
  }
}

.service-photo {
  background: url('http://www3.pictures.zimbio.com/gi/Postal+Service+Proposes+Cutting+120+000+Jobs+uzQbmfb9eVPl.jpg') gray;
  height: 350px;
}

